#additional {
  width: calc(100% - 1.5rem);
  padding: 0.5rem 0.75rem;
}

#additional .MuiSwitch-track {
  background-color: #efd9d3;
  border-radius: 12px;
}

#additional .MuiSwitch-root {
  padding: 12px;
  width: 62px;
  height: 42px;
}

#additional .MuiSwitch-thumb {
  width: 14px;
  height: 14px;
  margin: 5px;
  color: white;
}

#additional .MuiTouchRipple-root {
  color: #c99486;
}

#additional .Mui-checked:hover,
#additional .MuiSwitch-switchBase:hover {
  background-color: rgba(201, 148, 134, 0.15);
}
