#expenses {
  width: calc(100% - 1.5rem);
  padding: 0.5rem 0.75rem;
}

#expenses > h2 {
  font-family: Mulish;
  font-weight: 700;
  margin-top: 0.75rem;
}

#expenses_legend {
  display: flex;
  flex-direction: row;
  padding: 0.625rem 0.75rem;
  border-radius: 0.375rem;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(144, 144, 144, 1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(144, 144, 144, 1);
  box-shadow: 0px 0px 10px 0px rgba(144, 144, 144, 1);
  margin: 1rem 0;
  font-weight: 500;
}

#expenses_legend > .expenses_legend_small {
  width: 10%;
}

#expenses_legend > .expenses_legend_medium {
  width: 20%;
}

#expenses_legend > .expenses_legend_large {
  width: 25%;
}

#expenses_legend > p {
  text-align: left;
  color: #909090;
}

#expenses > .vertical-layout > .vertical-layout-item > .array-control-layout {
  display: flex;
  flex-direction: column;
}

#expenses
  > .vertical-layout
  > .vertical-layout-item
  > .array-control-layout
  > header {
  order: 3;
}

#expenses
  > .vertical-layout
  > .vertical-layout-item
  > .array-control-layout
  > header
  > label {
  display: none;
}

#expenses
  > .vertical-layout
  > .vertical-layout-item
  > .array-control-layout
  > header
  > button {
  background-color: #e4bfb6;
  border: unset;
  padding: 0.75rem 1rem;
  border-radius: 0.375rem;
  font-weight: 700;
  font-size: 1rem;
  font-family: Mulish;
  color: white;
  cursor: pointer;
  margin: 1rem 0;
}

#expenses
  > .vertical-layout
  > .vertical-layout-item
  > .array-control-layout
  > .validation {
  order: 2;
  display: none;
}

#expenses
  > .vertical-layout
  > .vertical-layout-item
  > .array-control-layout
  > .children {
  display: none;
  order: 1;
}

#expenses
  > .vertical-layout
  > .vertical-layout-item
  > .array-control-layout
  > .children
  > div
  label,
#expenses
  > .vertical-layout
  > .vertical-layout-item
  > .array-control-layout
  > .children
  > div
  .button-up,
#expenses
  > .vertical-layout
  > .vertical-layout-item
  > .array-control-layout
  > .children
  > div
  .button-down {
  display: none;
}

#expenses
  > .vertical-layout
  > .vertical-layout-item
  > .array-control-layout
  > .children
  > div {
  display: flex;
  flex-direction: row;
}

#expenses
  > .vertical-layout
  > .vertical-layout-item
  > .array-control-layout
  > .children
  > div
  > .horizontal-layout {
  display: flex;
  flex-direction: row;
  width: 80%;
}

#expenses
  > .vertical-layout
  > .vertical-layout-item
  > .array-control-layout
  > .children
  > div
  > .horizontal-layout
  > .horizontal-layout-item {
  width: 25%;
}

#expenses
  > .vertical-layout
  > .vertical-layout-item
  > .array-control-layout
  > .children
  > div
  > .horizontal-layout
  > .horizontal-layout-item
  > .control
  input {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 1px solid black;
}

#expenses
  > .vertical-layout
  > .vertical-layout-item
  > .array-control-layout
  > .children
  > div
  > .child-controls {
  width: 20%;
}

@media only screen and (max-width: 1000px) {
  #expenses_legend {
    font-size: 0.875rem;
  }

  .expenses_legend_small {
    width: 7% !important;
  }

  .expenses_legend_medium {
    width: 16.5% !important;
  }

  .expenses_legend_large {
    width: 30% !important;
  }

  #expenses
    > .vertical-layout
    > .vertical-layout-item
    > .array-control-layout
    > header
    > button {
    font-size: 0.875rem;
  }
}
